@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Rock+Salt&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.link-button {
  font-family: Roboto;
  font-weight: 500;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: lightgrey;
  text-transform: uppercase;
  border-radius: 4px;

  &:hover {
    transition: background 0.25s;
    background: rgba(1, 1, 1, 0.5);
  }
}

.nav-link {
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Roboto;
  color: white;
  letter-spacing: 0.075rem;

  &:hover {
    background: rgba(1, 1, 1, 0.5);
  }
}
